<div>
  <%= link_to "New Article", new_article_path %>
</div>
<br>
<form action = "/filter" method="get">
  <select name="q">
    <option value="Public" selected>Public</option>
    <option value="Private">Private</option>
    <option value="Archived">Archived</option>
  </select>
  <button type = "submit" >Filter</button>
</form>

<br>
<%= form_with method: :get do |form| %>
  <%= form.text_field :query, placeholder: "Search", value: params[:query] %>
  <%= form.submit "Search" %>
<% end %>

<h1>Articles</h1>

Our blog has <%= Article.count %> articles, like:
(<%= Article.public_count %> public
<%= Article.private_count %> private
<%= Article.archived_count %> archived)
<br>

<ul>
  <% @articles.each do |article| %>
<%= link_to article.title, article %>
    <br>
  <% end %>
</ul>
<br>
<div>
  <%= will_paginate @posts %>
</div>

